In [1]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .appName("Initial Data Exploration") \
    .getOrCreate()

print("SparkSession created successfully!")

SparkSession created successfully!

In [2]:
data_path = "../data/raw/yellow_tripdata_2024-01.parquet"

df = spark.read.parquet(data_path)

print("Data loaded successfully.")

Data loaded successfully.

In [3]:
print("DataFrame Schema:")
df.printSchema()

DataFrame Schema:
root
 |-- VendorID: integer (nullable = true)
 |-- tpep_pickup_datetime: timestamp_ntz (nullable = true)
 |-- tpep_dropoff_datetime: timestamp_ntz (nullable = true)
 |-- passenger_count: long (nullable = true)
 |-- trip_distance: double (nullable = true)
 |-- RatecodeID: long (nullable = true)
 |-- store_and_fwd_flag: string (nullable = true)
 |-- PULocationID: integer (nullable = true)
 |-- DOLocationID: integer (nullable = true)
 |-- payment_type: long (nullable = true)
 |-- fare_amount: double (nullable = true)
 |-- extra: double (nullable = true)
 |-- mta_tax: double (nullable = true)
 |-- tip_amount: double (nullable = true)
 |-- tolls_amount: double (nullable = true)
 |-- improvement_surcharge: double (nullable = true)
 |-- total_amount: double (nullable = true)
 |-- congestion_surcharge: double (nullable = true)
 |-- Airport_fee: double (nullable = true)

In [4]:
print("Sample data:")
df.show(5, truncate=False)

Sample data:
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|VendorID|tpep_pickup_datetime|tpep_dropoff_datetime|passenger_count|trip_distance|RatecodeID|store_and_fwd_flag|PULocationID|DOLocationID|payment_type|fare_amount|extra|mta_tax|tip_amount|tolls_amount|improvement_surcharge|total_amount|congestion_surcharge|Airport_fee|
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
|2       |2024-01-01 00:57:55 |2024-01-01 01:17:43  |1              |1.72         |1         |N                 |186         |79          |2           |17.7       |1.0  |0.5    |0.0       |0.0         |1.0                  |22.7        |2.5                 |0.0        |
|1       |2024-01-01 00:03:00 |2024-01-01 00:09:36  |1              |1.8          |1         |N                 |140         |236         |1           |10.0       |3.5  |0.5    |3.75      |0.0         |1.0                  |18.75       |2.5                 |0.0        |
|1       |2024-01-01 00:17:06 |2024-01-01 00:35:01  |1              |4.7          |1         |N                 |236         |79          |1           |23.3       |3.5  |0.5    |3.0       |0.0         |1.0                  |31.3        |2.5                 |0.0        |
|1       |2024-01-01 00:36:38 |2024-01-01 00:44:56  |1              |1.4          |1         |N                 |79          |211         |1           |10.0       |3.5  |0.5    |2.0       |0.0         |1.0                  |17.0        |2.5                 |0.0        |
|1       |2024-01-01 00:46:51 |2024-01-01 00:52:57  |1              |0.8          |1         |N                 |211         |148         |1           |7.9        |3.5  |0.5    |3.2       |0.0         |1.0                  |16.1        |2.5                 |0.0        |
+--------+--------------------+---------------------+---------------+-------------+----------+------------------+------------+------------+------------+-----------+-----+-------+----------+------------+---------------------+------------+--------------------+-----------+
only showing top 5 rows

In [5]:
total_records = df.count()
print(f"Total number of records: {total_records}")

print("Descriptive statistics:")
df.describe(['passenger_count', 'trip_distance', 'fare_amount', 'total_amount']).show()

Total number of records: 2964624
Descriptive statistics:
+-------+------------------+------------------+------------------+------------------+
|summary|   passenger_count|     trip_distance|       fare_amount|      total_amount|
+-------+------------------+------------------+------------------+------------------+
|  count|           2824462|           2964624|           2964624|           2964624|
|   mean|1.3392808966805005|3.6521691789583146|18.175061916791037|26.801504770952707|
| stddev|0.8502816924800847|225.46257238220082| 18.94954770590526|23.385577429672516|
|    min|                 0|               0.0|            -899.0|            -900.0|
|    max|                 9|          312722.3|            5000.0|            5000.0|
+-------+------------------+------------------+------------------+------------------+